name: 'Build container (PR/2)'

on:
  merge_group:
  push:
    branches-ignore:
      - main
    #paths:
    #  - .github/workflows/dbuild-container-2-PR.yml
  pull_request:
    branches:
      - main

jobs:
  pr-merge_queue_only-2:
    name: PR image (2)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: cat "$GITHUB_EVENT_PATH"

      - name: Detect changed files and compute condition
        id: filter
        run: |
          set -eux
          git remote add organization "${{ github.event.pull_request.base.repo.clone_url }}"
          git remote add contributor  "${{ github.event.pull_request.head.repo.clone_url }}"
          OREF="failure"
          CREF="failure"
          if [[ "${GITHUB_EVENT_NAME}" == "pull_request" ]]; then
            OREF="${{ github.event.pull_request.base.ref }}"
            CREF="${{ github.event.pull_request.head.ref }}"
            git remote add organization "${{ github.event.pull_request.base.repo.clone_url }}"
            git remote add contributor  "${{ github.event.pull_request.head.repo.clone_url }}"
          elif [[ "${GITHUB_EVENT_NAME}" == "push" ]]; then
            OREF="main"
            CREF="${{ github.event.ref }}"
            git remote add organization "${{ github.event.repository.clone_url }}"
            git remote add contributor  "${{ github.event.repository.clone_url }}"
          fi
          git fetch organization
          git fetch contributor
          CHANGED=$(git diff --name-only "organization/$OREF" "contributor/$CREF")
          echo "changed_files: $CHANGED"
          if [[ "${GITHUB_EVENT_NAME}" == "merge_group" ]]; then
            # We only wait in this state for the tests from the PR trigger to finish
            # This should also give 0 changed files so this is mostly explanation of the
            # 'interesting' GHA flow.
            echo "should_run=false" >> $GITHUB_OUTPUT
          else
            # None of the interesting files changed
            echo "should_run=false" >> $GITHUB_OUTPUT
          fi

      - name: "Skip"
        if: steps.filter.outputs.should_run == 'false'
        run: echo "Skip"

      - name: "Run"
        if: steps.filter.outputs.should_run == 'true'
        run: echo "The needed required check"
