name: 'Build container (PR)'

on:
  merge_group:
  push:
    branches-ignore:
      - main
    paths:
      - .github/workflows/build-container-PR.yml
  pull_request:
    branches:
      - main

jobs:
  pr-container:
    name: PR image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
