name: 'Shellcheck'

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ github.repository }}"
      - run: echo "${{ github.ref }}"
      - run: echo "${{ github.ref_name }}"
      - run: echo "Always run this check"
